{% load static %}
<footer class="footer-footer">
    <div class="container">
      <div class="row">
        <!-- Unicare Section -->
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading-footer">Love and Care</h2>
          <p>Empowering underserved communities through education, healthcare, women’s upliftment, and compassionate social welfare initiatives.</p>
          
          <div class="social-icons-contact">
            <a href="https://www.facebook.com/groups/1291284221950937" target="_blank">
                <img src="{% static 'main/images/face.png' %}" alt="Facebook" class="icon-img-contact">
            </a>
            <a href="https://www.linkedin.com/company/love-and-care-foundation-admin-dashboard/about/?viewAsMember=true" target="_blank">
                <img src="{% static 'main/images/link.png' %}" alt="LinkedIn" class="icon-img-contact">
            </a>
        </div>
          
          <ul class="ftco-footer-social-footer p-0">
            <!-- <li class="ftco-animate-footer"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
            <li class="ftco-animate-footer"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate-footer"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li> -->
          </ul>
          <!-- <p><a href="#" class="btn-footer">Donate Now</a></p> -->
        </div>
  
        <!-- Latest News Section -->
        <!-- <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading-footer">Latest News</h2>
  
          <div class="block-21-footer d-flex">
            <a class="img-footer mr-4 rounded" style="background-image: url(images/image_1.jpg);"></a>
            <div class="text-footer">
              <h3 class="heading-footer"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta-footer">
                <div><a href="#">Jul 20, 2020</a></div>
                <div><a href="#">Admin</a></div>
                <div><a href="#">19</a></div>
              </div>
            </div>
          </div>
  
          <div class="block-21-footer d-flex">
            <a class="img-footer mr-4 rounded" style="background-image: url(images/image_2.jpg);"></a>
            <div class="text-footer">
              <h3 class="heading-footer"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta-footer">
                <div><a href="#">Jul 20, 2020</a></div>
                <div><a href="#">Admin</a></div>
                <div><a href="#">19</a></div>
              </div>
            </div>
          </div>
        </div> -->
  
        <!-- Quick Links Section -->
        <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
          <h2 class="footer-heading-footer">Quick Links</h2>
          <ul class="list-unstyled-footer">
            <li><a href="index.html" class="py-2 d-block">Home</a></li>
            <li><a href="about.html" class="py-2 d-block">About</a></li>
            <li><a href="event.html" class="py-2 d-block">Event</a></li>
            <li><a href="project.html" class="py-2 d-block">Project</a></li>
            <!-- <li><a href="#" class="py-2 d-block"></a></li> -->
            <li><a href="team.html" class="py-2 d-block">Team</a></li>
          </ul>
        </div>
  
        <!-- Contact Section -->
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading-footer">Have a Questions?</h2>
          <div class="block-23-footer mb-3">
            <ul>
              <li><span class="icon fa fa-map"></span><span class="text">Navale IT Zone, Office No. 501, 5th Floor, A-Wing, Near Navale Bridge, Mumbai-Bangalore Highway, Narhe, Pune - 411041.</span></li>
              <li><span class="icon fa fa-phone"></span><span class="text">+91 9168627258</span></a></li>
              <li><span class="icon fa fa-envelope"></span><span class="text">loveandcare.welfare@gmail.com</span></a></li>
              
              
            </ul>
          </div>
        </div>
      </div>
  
      <!-- Copyright -->
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <p class="copyright-footer">
            © 2025 Love and Care . All Rights Reserved.</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
