<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Love and Care : Team</title>
	
		<!--/tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<meta name="keywords" content="Relief Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	
		<!--//tags -->
		<link href="{% static 'main/css/contact.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'main/css/team.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'main/css/project.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'main/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
		<link href="{% static 'main/css/footer.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'main/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'main/css/prettyPhoto.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'main/css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css' />
	
		
		<!-- <link href="css/fontawesome-all.css" rel="stylesheet"> -->
		<!-- //for bootstrap working -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700"
			rel="stylesheet">   
	</head>
<body>
	{% include 'main/navbar.html' %}
	<div class="top_header" id="home">
		

		
	<!-- banner -->
	<div class="banner-inner-page">

	
	<!--//banner -->
	<!-- gallery -->

    
	<div class="gallery" id="gallery">
		<div class="container">
		
            <div class="banner_bottom read_page">
                <div class="container">
                    <h3 class="tittle_w3_agileinfo">Visit to Apala Ghar Orphanage & Old Age Home</h3>
                    <div class="inner_sec_info_w3layouts">
                        <div class="read_img">
        
                            <!-- <img src="images/banner2.jpg" alt=" " class="img-responsive"> -->
        
                            <p class="read_para">As our first heartfelt initiative, the <i>Love and Care</i> team embarked on a meaningful visit to <i>Apala Ghar</i>, a nurturing space that serves both as an orphanage for children and a home for elderly individuals. With around 40 residents of all ages, <i>Apala Ghar</i> is more than just a shelter — it’s a home filled with hope, stories, and resilience.</p>
                            <p class="read_para">Upon our arrival, we were welcomed with warm smiles and open hearts. We spent quality time engaging in conversations with both the children and the senior residents, learning about their lives, their dreams, and the challenges they’ve faced. As part of our support, we served freshly prepared meals, shared laughter, and offered companionship — a simple act that brought immense joy to everyone present.</p>
                            <p class="read_para">We were touched to see the holistic environment that <i>Apala Ghar</i> provides. The centre boasts a small in-house hospital for medical needs, creative and recreational spaces for children, including indoor and outdoor play areas, and structured music instrument coaching classes that encourage artistic expression. The elderly have access to a serene garden space where they can find peace, reflect, and spend time in nature.</p>
                        
                        </div>
                        <div class="col-md-6 read_img">
                            <img src="{% static 'main/images/project/10.png' %}" alt=" " class="img-responsive">
                        </div>
                        <div class="col-md-6 read-img-info">
                            
                            <p>What stood out the most was the bond between generations living under one roof — children finding wisdom in the elderly, and seniors finding joy in the innocence of youth. This harmonious setting reflects the very values that <i>Love and Care</i> stands for: Every Helping Hand
                                Creates a Brighter Tomorrow.

                               </p>
                               <p> Our visit to <i>Apala Ghar</i> was a humbling experience — one that reminded us of the impact even a single act of kindness can make. It not only strengthened our resolve to continue this journey but also gave us a deeper understanding of the communities we aim to serve. This project remains a proud milestone, marking the beginning of our mission to build a more empathetic and inclusive society.</p>
                            <div class="ab_button">
                                <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Back to Home</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
        
                    </div>
                </div>
                
            <div class="title-agileits">
                <h3>Gallery</h3> 
			</div>
            </div>

			<div class="agileinfo_gallery_grids">
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href="{% static 'main/images/project/2.png' %}" class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src="{% static 'main/images/project/2.png' %}" class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>			
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href="{% static 'main/images/project/11.png' %}" class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src="{% static 'main/images/project/11.png' %}" class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>			
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href="{% static 'main/images/project/4.png' %}" class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src="{% static 'main/images/project/4.png' %}" class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>			
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid w3_tabs_grid_sub">
					<div class="grid">
						<a href="{% static 'main/images/project/5.png' %}" class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src="{% static 'main/images/project/5.png' %}" class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>			
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid w3_tabs_grid_sub">
					<div class="grid">
						<a href="{% static 'main/images/project/6.png' %}" class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src="{% static 'main/images/project/6.png' %}" class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>			
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid w3_tabs_grid_sub">
					<div class="grid">
						<a href="{% static 'main/images/project/7.png' %}" class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src="{% static 'main/images/project/7.png' %}" class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>			
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href="{% static 'main/images/project/8.png' %}" class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src="{% static 'main/images/project/8.png' %}" class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>			
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href="{% static 'main/images/project/9.png' %}" class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src="{% static 'main/images/project/9.png' %}" class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>			
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href="{% static 'main/images/project/3.png' %}" class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src="{% static 'main/images/project/3.png' %}" class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>			
							</figure>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			
		</div>
	</div>
<!-- //gallery -->
</div>
	
{% include 'main/footer.html' %}

	<script type="text/javascript" src="{% static 'main/js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'main/js/responsiveslides.min.js' %}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<script type="text/javascript" src="{% static 'main/js/bootstrap.js' %}"></script>

	<script type="text/javascript" src="{% static 'main/js/all.js' %}"></script>
	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>

	<!-- js -->
	<!-- script for responsive tabs -->
	<script src="{% static 'main/js/easy-responsive-tabs.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!--// script for responsive tabs -->
	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="{% static 'main/js/easing.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/move-top.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll, .navbar li a, .footer li a").click(function (event) {
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>


	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>

</html>