<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Love and Care</title>

	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Relief Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="{% static 'main/css/contact.css' %}" rel="stylesheet" type="text/css" />
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
	<link href="css/footer.css" rel="stylesheet" type="text/css" />

	<link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700"
		rel="stylesheet">   
</head>

<body>
	<div class="top_header" id="home">
		{% include 'main/navbar.html' %}
		
	<!-- banner -->
	<div class="banner-inner-page">

	</div>
	<!--//banner -->
	<!--/single-->
	<div class="banner_bottom read_page">
		<div class="container">
			<h3 class="tittle_w3_agileinfo">Social Welfare and Relief Activities.</h3>
			<div class="inner_sec_info_w3layouts">
				<div class="read_img">

					<img src="images/banner2.jpg" alt=" " class="img-responsive">

					<p class="read_para">
						<i>The Love and Care Social Club is committed to social welfare and humanitarian relief, focusing on the care and protection of society’s most vulnerable groups. The organization aims to provide safe shelter, nourishment, and emotional support through the establishment of hostels and care homes for orphans, destitute women, the elderly, persons with disabilities, and other marginalized individuals. In times of natural disasters such as floods, earthquakes, and pandemics, the club actively engages in emergency relief and rehabilitation efforts by distributing food, clothing, medicine, and other essential supplies. Furthermore, it undertakes a range of charitable initiatives including community kitchens, food drives, and livelihood support programs to uplift economically disadvantaged families, ensuring their basic needs are met with compassion and dignity..</p>
				</div>
				<div class="col-md-6 read_img">
					<img src="images/g2.jpg" alt=" " class="img-responsive">
				</div>
				<div class="col-md-6 read-img-info">
					<p>The Love and Care Social Club is committed to social welfare and humanitarian relief, focusing on the care and protection of society’s most vulnerable groups. The organization aims to provide safe shelter, nourishment, and emotional support through the establishment of hostels and care homes for orphans, destitute women, the elderly, persons with disabilities, and other marginalized individuals. In times of natural disasters such as floods, earthquakes, and pandemics, the club actively engages in emergency relief and rehabilitation efforts by distributing food, clothing, medicine, and other essential supplies. Furthermore, it undertakes a range of charitable initiatives including community kitchens, food drives, and livelihood support programs to uplift economically disadvantaged families, ensuring their basic needs are met with compassion and dignity.
					</p>
					<!-- <p>The Love and Care Social Club is committed to social welfare and humanitarian relief, focusing on the care and protection of society’s most vulnerable groups. The organization aims to provide safe shelter, nourishment, and emotional support through the establishment of hostels and care homes for orphans, destitute women, the elderly, persons with disabilities, and other marginalized individuals. In times of natural disasters such as floods, earthquakes, and pandemics, the club actively engages in emergency relief and rehabilitation efforts by distributing food, clothing, medicine, and other essential supplies. Furthermore, it undertakes a range of charitable initiatives including community kitchens, food drives, and livelihood support programs to uplift economically disadvantaged families, ensuring their basic needs are met with compassion and dignity.
					</p> -->
					<div class="ab_button">
						<a class="btn btn-primary btn-lg" href="index.html" role="button">Back to Home</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</div>
	<!--//single-->
	
	
	{% include 'main/footer.html' %}

	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<script src="js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<script type="text/javascript" src="js/bootstrap.js"></script>

	<script type="text/javascript" src="js/all.js"></script>
	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>

	<!-- js -->
	<!-- script for responsive tabs -->
	<script src="js/easy-responsive-tabs.js"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!--// script for responsive tabs -->
	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll, .navbar li a, .footer li a").click(function (event) {
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>


	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>

</html>